{% extends 'admin/master.html' %}

{% block head_tail %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/style.css') }}?v=5" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
{% endblock %}

{% block page_body %}
  <main>
    <nav class="navbar navbar-dark navbar-expand-md">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='img/small-logo.png') }}" height="75" alt="">
        <div class="navbar-text align-middle">Holiday Hope Tree
          <div class="float-under-text">Pulaski County, AR</div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{{ get_url('register.parent') }}">Signup a Child</a>
          <a class="nav-item nav-link" href="{{ get_url('register.sponsor') }}">Register a Wishlist</a>
          <a class="nav-item nav-link" href="https://igfn.us/form/tEmO0w">Donate</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid index-container">
      {% block messages %}{{ super() }}{% endblock %}
      {% block page_container %}{% endblock %}
    </div>
    {% block modal %}{% endblock %}
  </main>
  {% block footer %}
  <footer class="page-footer font-small pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-8 mt-md-0 mt-3">
          <h5 class="footer-header">Contact</h5>
          <p>If your church, family or business would like to sponsor a child or host a toy drive,
            Please email Lillie Price at <a class="footer-contact-link" href="mailto: lillie@that.church">lillie@that.church</a></p>
        </div>
        <hr class="clearfix col-md-4 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="footer-header">External Links</h5>
          <ul class="list-unstyled">
            <li>
              <a class="footer-link" href="https://humanservices.arkansas.gov/divisions-shared-services/children-family-services/contact-dcfs/">Pulaski County DCFS</a>
            </li>
            <li>
              <a class="footer-link"  href="https://that.church/sherwood/">Sherwood | That.Church</a>
            </li>
            <li>
              <a class="footer-link" href="https://thecallinarkansas.org/pulaski">Pulaski County | The CALL</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3"> Questions? Email
      <a class="footer-contact-link" href="mailto: lillie@that.church"> lillie@that.church</a>
      Or call <a class="footer-contact-link" href="tel:618-889-6319">618-889-6319</a>
    </div>
  </footer>
  {% endblock %}
{% endblock %}