{% extends 'main/base.html' %}

{% block page_container %}
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-title">Child Registration</h1>
          <p class="lead">
            Please click below to register a Pulaski County foster child for Christmas
          </p>
          <hr class="my-4">
          <a class="btn btn-holiday-red btn-lg" href="{{ get_url('register.parent') }}" role="button">Register</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-title">Be a Sponsor</h1>
          <p class="lead">
          </p>
          <hr class="my-4">
          <p>Please click below to sponsor a child for Christmas</p>
          <a class="btn btn-holiday-red btn-lg" href="{{ get_url('register.sponsor') }}" role="button">Sponsor</a>
        </div>
      </div>
    </div>
{% endblock %}