{% extends 'main/base.html' %}

{% block page_container %}
  <div class="row">
    <div class="col col-lg-3 col-md-6 col-sm-12">
      <div class="card index-card">
        <img class="card-img-top" src="{{ url_for('static', filename='img/christmas-gift-small.jpg') }}">
        <div class="card-body">
          <h5 class="card-title">Register Foster Child</h5>
          <p class="card-text">Please click below to register a Pulaski County foster child and their wishlist for Christmas</p>
          <a href="{{ get_url('register.parent') }}" class="btn btn-holiday-red btn-lg">Register</a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-md-6 col-sm-12">
      <div class="card index-card">
        <img class="card-img-top" src="{{ url_for('static', filename='img/smiling-girl-opening-gift-small.jpg') }}">
        <div class="card-body">
          <h5 class="card-title">Already chosen a wishlist?</h5>
          <p class="card-text">Click below to register a wishlist chosen from a Holiday Hope Tree</p>
          <a href="{{ get_url('register.sponsor') }}" class="btn btn-holiday-red btn-lg">Sponsor</a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-md-6 col-sm-12">
      <div class="card index-card">
        <img class="card-img-top" src="{{ url_for('static', filename='img/magnifying-glass-small.jpg') }}">
        <div class="card-body">
          <h5 class="card-title">More information</h5>
          <p class="card-text">Get more info regarding gift pick-up and drop-off, etc </p>
          <a href="{{ get_url('register.details') }}" class="btn btn-holiday-red btn-lg">More Info</a>
        </div>
      </div>
    </div>
    <div class="col col-lg-3 col-md-6 col-sm-12">
      <div class="card index-card">
        <img class="card-img-top" src="{{ url_for('static', filename='img/joined-hands-small.jpg') }}">
        <div class="card-body">
          <h5 class="card-title">Want to get involved?</h5>
          <p class="card-text">Click below to find out more about how you can help!</p>
          <a href="{{ get_url('register.get_involved') }}" class="btn btn-holiday-red btn-lg">Get Involved</a>
        </div>
      </div>
    </div>
  </div>
    </div>
{% endblock %}
