{% extends 'main/base.html' %}

{% block page_container %}
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-title">Child Registration</h1>
          <p class="lead">
            Thank you so much for making a difference in a child’s life!
            This Christmas we are striving to make every child’s wish list come true!
            Donors and sponsors will choose wish lists to fulfill. Kindly consider that these
            wish lists are meant for donations, and it might pose a challenge to secure sponsors for highly costly lists.
            Please refrain from including electronics exceeding a value of $200.
          </p>
          <hr class="my-4">
          <p>Please click below to register a Pulaski County foster child for Christmas</p>
          <a class="btn btn-holiday-red btn-lg" href="{{ get_url('register.register') }}" role="button">Register</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-title">Be a Sponsor</h1>
          <p class="lead">
            We appreciate your sponsorship of a child!
            Kindly provide us with your complete information so that we can get in touch regarding drop-off details.
          </p>
          <hr class="my-4">
          <p>Please click below to sponsor a child for Christmas</p>
          <a class="btn btn-holiday-red btn-lg" href="#" role="button">Sponsor</a>
        </div>
      </div>
    </div>
{% endblock %}