{% extends 'main/base.html' %}
{% import 'main/lib.html' as lib with context %}
{% from 'main/lib.html' import extra with context %} {# backward compatible #}

{% set render_ctx = h.resolve_ctx() %}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block page_container %}
    {% if add_another %}
    {{ lib.render_form(form, return_url, form_opts=form_opts, cancel_text=cancel_text, submit_text=submit_text, extra=extra()) }}
    {% else %}
    {{ lib.render_form(form, return_url, form_opts=form_opts, cancel_text=cancel_text, submit_text=submit_text) }}
    {% endif %}
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}