body {
    background-color: #fff;
}

.navbar {
    padding: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: center;
}

.navbar-light .navbar-text {
    color: #fff !important;
    font-variant: small-caps;
    font-weight: 500;
}

.navbar-brand > img {
    /*background-color: #bc4749;*/
    /*border-radius: 6px;*/
    padding: 3px;
    margin: 0px 5px;
}

.jumbotron {
    background-color: #5a994e38;
    color: rgba(0,0,0,0.55) !important;
}

.btn-holiday-red {
    color: #fff;
    background-color: #bc4749;
    border-color: #bc4749;
}

h1.display-title {
    font-size: 3rem;
    font-weight: 800;
    font-variant: petite-caps;
    color: #386641;
}

.index-inner-container {
    margin-top: 30px;
}

.list-header {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.list-children {
    margin-bottom: 30px
}

.list-children .list-group-item {
    padding: 0.25rem 1.25rem;
}

.list-children:first-child .list-group-item:first-child {
    border-top: 1px solid rgba(0,0,0,.125);
}

.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 1px solid rgba(0,0,0,.125);
}