body {
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
/*
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: center;
*/
    background-color: rgb(91, 136, 65);
}

.navbar-dark .navbar-text {
    /*color: #fff !important;*/
    font-variant: small-caps;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 10px;
}

.navbar-text .float-under-text {
    position: absolute;
    top: 2.7rem;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 400;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 3rem;
    /* padding-left: 0; */
    /*color: white;*/
    font-weight: 500;
    font-variant: all-small-caps;
    font-size: 1.2rem;
}
.navbar-brand {
    font-size: 2rem;
    margin-left: 10px;
}

.navbar-brand > img {
    /*background-color: #bc4749;*/
    /*border-radius: 6px;*/
    padding: 3px;
    margin: 0px 5px;
}

.btn-holiday-red {
    color: #fff;
    background-color: #bc4749;
    border-color: #bc4749;
}

.index-inner-container {
    margin-top: 30px;
}

.list-header {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.list-children {
    margin-bottom: 30px
}

.list-children .list-group-item {
    padding: 0.25rem 1.25rem;
}

.list-children:first-child .list-group-item:first-child {
    border-top: 1px solid rgba(0,0,0,.125);
}

.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.page-footer {
    /*background-color: #f9f9f9;*/
    background-color: rgba(79, 127, 51, 80%);
    color: white;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
    margin-top: auto;
}

.page-footer .footer-link {
    color: white;
    font-size: .9rem;
}

.page-footer .footer-link:hover {
    color: white;
}

.page-footer .email-link {
    color: white;
    font-weight: 600;
}

.page-footer .email-link:hover {
    color: white;
    font-weight: 600;
}

.page-footer .footer-header {
    color: rgba(256,256,256,0.5);
}

.footer-copyright {
    background-color: rgba(79, 127, 51, 65%);
    color: white;
}

.form-helper-text {
    font-size: .8rem;
    font-style: italic;
    font-weight: 600;
}

h1.display-title {
    font-size: 3rem;
    font-weight: 800;
    font-variant: petite-caps;
}

.index-container {
    margin: 30px 0px;
}

.details-sub-list {
    margin-left: 20px;
}

ul.list-style-circle li.list-item {
    margin-bottom: 13px;
}

.index-card {
    min-height: 420px;
    margin-top: 10px;
    margin-bottom: 10px;
}